name: Publish

permissions:
  contents: write

on:
  workflow_dispatch:
    inputs:
      Version:
        description: 'Version accepted by `npm version *`'
        required: true

jobs:
  Marketplace:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: 18
      - run: npm ci
      - uses: fregante/setup-git-user@v2
      - name: Create version
        run: |
          VERSION="$(npm version "${{ github.event.inputs.Version }}")"
          echo "VERSION=$VERSION" >> $GITHUB_ENV
        # Get the generated version, this enables support for keywords: `npm version patch`
      - run: npx @vscode/vsce@2 publish
        env:
          VSCE_PAT: ${{ secrets.VSCE_PAT }}
      - run: git push --follow-tags
      - run: gh release create "$VERSION" --generate-notes
        env:
          GH_TOKEN: ${{ github.token }}
